<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/homePage.css">
    <title>PlantCare</title>
</head>
<body>
    <header>

    <button class="account-btn">
        <div class="account-icon"></div>
        Демьян
    </button>

    <input class="search" type="text" placeholder="Поиск растения...">

    <div class="header-right">

        <button class="chat-btn">
            💬 Чат
        </button>

        <button class="notification-btn">
            🔔
        </button>

    </div>

</header>

    <main>
        <aside>

            <button class="menu-btn active">
                📚 Справочник
            </button>

            <button class="menu-btn">
                🌿 Мои растения
            </button>

            <button class="menu-btn">
                ⭐ Избранное
            </button>

        </aside>

        <section>

            <div class="plants-container">

                <article>
                    ...
                </article>

                <article>
                    ...
                </article>

            </div>

        </section>
    </main>
</body>
</html>